*{
    background-color: burlywood;
}

.back-button{
    padding: 10px 20px;
    background-color: aliceblue;
}

h1{
    font-size: 100px; 
}


p{
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    background-color: white;
    margin-top: 300px;
    margin-right: 900px;
    margin-left: 10px;
}

img{
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    background-color: white;
    margin-top: 150px;
    margin-right: 100px;
}