
*{
    background-color: bisque;
}

.welcome {
    max-width: 20px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

h1{
    background-color: bisque;
    font-size: 100px; 
    margin-left: -800px; 
}

.links {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    background-color: bisque;
    margin-top: 370px;
    margin-right: 200px;
}

h3 {
    margin-top: 0;
    font-size: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}


#zoo_image1{
    border-radius: 60%;
    width: 350px;
    height: auto;

    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    background-color: white;
    margin-top: 50px;
    margin-right: 350px;
}

#zoo_image2{
    border-radius: 40%;
    width: 350px;
    height: auto;

    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    background-color: white;
    margin-top: 300px;
    margin-right: 800px;
}

#zoo_image3{
    border-radius: 60%;
    width: 350px;
    height: auto;

    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    background-color: white;
    margin-top: 600px;
    margin-right: 350px;
}